[project]
	description = custom android code
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/codefixx
[access "refs/for/refs/*"]
	read = group user/codefixx
	push = group user/codefixx
	label-Code-Review = -2..+2 group user/codefixx
	label-Verified = -1..+1 group user/codefixx
	rebase = group user/codefixx
	removeReviewer = group user/codefixx
	submit = group user/codefixx
[access "refs/heads/*"]
	read = group user/codefixx
	create = group user/codefixx
	push = +force group user/codefixx
	pushMerge = group user/codefixx
[access "refs/tags/*"]
	push = group user/codefixx
	push = +force group user/codefixx
